body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
}

.boards {
  width: 50%;
  text-align: center;
  margin: 20px;
  padding: 20px 0;
  background-color: skyblue;
}

.row,
.latRow {
  display: flex;
  justify-content: center;
}

.latSquare,
.lonSquare,
.corner {
  width: 50px;
  height: 50px;
  background-color: yellow;
  border: 2px solid green;
}

.squareDefense,
.squareAttack {
  width: 50px;
  height: 50px;
  background-color: tomato;
  border: 2px solid green;
}

.placedShip {
  background-color: saddlebrown;
}

.emptySquareHit {
  background-color: red;
}

.shipHit {
  background-color: seagreen;
}

.playShipGotHit {
  background-color: blue;
}
