body {
  margin: 20px 200px;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

.headline {
  text-align: center;
  margin: 50px;
}

.startContainer {
  width: 280px;
  margin: 100px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.sizeInput {
  font-size: 30px;
  padding: 10px;
  margin: 10px 0;
}

.startButton {
  padding: 10px;
}

.container {
  display: flex;
}

.boards {
  width: 50%;
  text-align: center;
  margin: 20px;
  padding: 20px 0;
  background-color: #83d7ee;
  font-size: 18px;
}

.row,
.latRow {
  display: flex;
  justify-content: center;
}

.latSquare,
.lonSquare,
.corner {
  width: 50px;
  height: 50px;
  background-color: yellow;
  border: 2px solid #83d7ee;
}

.squareDefense,
.squareAttack {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #83d7ee;
}

.placedShip {
  background-color: rgb(104, 104, 104);
  color: white;
}

.emptySquareHit {
  background-color: rgb(84, 84, 255);
  color: white;
}

.shipHit {
  background-color: red;
  color: white;
}

.shipContainer {
  width: 200px;
}

.ship {
  width: 100%;
  position: relative;
  animation: shipAnimation 10s infinite;
}

@keyframes shipAnimation {
  0% {
    left: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 400%;
    opacity: 0;
  }
}
